.modal-room {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-rooms-container {
    i {
        padding-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 10px;
        }
        
        .asset-management {
            margin-left: 10px;
        }
    }
}