.asset-container {
    .breadcrumb span {
        color: #0d6efd;
        cursor: pointer;
    }

    .adding-assets {
        .asset-parent {
            .asset-child {
                .red {
                    color: red;
                    margin-right: .25rem !important;
                }

                .actions {
                    i {
                        padding-top: 7px;
                        padding-right: 7px;
                        font-size: 22px;
                        cursor: pointer;
                    }

                    .add {
                        color: green;
                    }

                    .delete {
                        color: red;
                    }
                }
            }
        }
    }

    .table-asset {
        i {
            padding-right: 7px;
        }

        .edit-asset-form {
            .red {
                color: red;
                margin-right: .25rem !important;
            }

            .actions {
                i {
                    padding-top: 7px;
                    padding-right: 7px;
                    font-size: 22px;
                    cursor: pointer;
                }

                .save {
                    color: blue;
                }
            
                .cancel {
                    color: gray;
                }
            }
        }
    }
}