.home-container {
    .carousel-inner {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    
    .carousel-inner img {
        width: 100%;
        height: 100%;
        object-fit: contain;  
    }

    .card {
        i {
            padding-right: 7px;
        }
        
        .hidden-content {
            visibility: hidden;
            color: transparent;
        }
        
        .green {
            color: green;
        }
        
        .red {
            color: red;
        }
    }
}