.service-container {
    .adding-services {
        .service-parent {
            .service-child {
                .red {
                    color: red;
                    margin-right: .25rem !important;
                }

                .actions {
                    i {
                        padding-top: 7px;
                        padding-right: 7px;
                        font-size: 22px;
                        cursor: pointer;
                    }
                
                    .add {
                        color: green;
                    }
                
                    .delete {
                        color: red;
                    }
                }
            }
        }
    }

    .table-service {
        i {
            padding-right: 7px;
        }

        .edit-service-form {
            .red {
                color: red;
                margin-right: .25rem !important;
            }

            .actions {
                i {
                    padding-top: 7px;
                    padding-right: 7px;
                    font-size: 22px;
                    cursor: pointer;
                }
            
                .save {
                    color: blue;
                }
            
                .cancel {
                    color: gray;
                }
            }
        }
    }
}