.manage-revenue-container {
    .revenue-header {
        .actions {
            .red {
                color: red;
            }
        }
    }
    
    .revenue-body {
        .list-invoices-footer {
            display: flex;
            justify-content: center;
        }
    }

    .revenue-footer {
        .revenue-chart {
            .chart-subtitle {
                font-size: 16px;
                color: #333;
            }
        }
    }
}